<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>My Account</h1>
      <%= link_to("Change E-mail/Password or Delete Account", edit_user_registration_path) %>
      <h3>Past Orders:</h3>
      <% if @orders.respond_to?(:length) && @orders.length > 0 %>
        <% for order in @orders %>
          <%= link_to("Order ##{order.id}", order_path(order)) %> - ordered <%= order.created_at.month %>/<%= order.created_at.day %>/<%= order.created_at.year if order[:order_status] >= Order.order_statuses[:checkout_completed] %>
          <br>
        <% end %>
      <% else %>
        You have no past orders.
      <% end %>
    </div>
  </div>
</div>