<div class="container">
  <div class="row">
    <div class="col-xs-5">
      <%= render 'dashboard/shared/product_links' %>
      <h1>Categories</h1>
      <%= link_to 'New Category', new_dashboard_category_path, class:"btn btn-default" %>
    </div>
  </div>
  <div class="row" style="padding-bottom:15px">
    <div class="col-xs-1">
      
    </div>
  </div>
  <table class="table table-bordered">
    <tr>
      <td class="field-label">
        <label>ID</label>
      </td>
      <td class="field-label">
        <label>Name</label>
      </td>
      <td class="field-label">
        <label>Game ID</label>
      </td>
      <td class="field-label">
        <label>Permalink</label>
      </td>
      <td class="field-label">
        <label>Created</label>
      </td>
      <td class="field-label">
        <label>Updated</label>
      </td>
    </tr>
        
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.id %></td>
        <td>
          <%= link_to category.name, edit_dashboard_category_path(category) %>
        </td>
        <td><%= category.game_id or "N/A" %></td>
        <td><%= category.permalink or "N/A" %></td>
        <td><%= category.created_at or "N/A" %></td>
        <td><%= category.updated_at or "N/A" %></td>
      </tr>
    <% end %>
    </table>
</div>