<%= form_for(:order, url: order_checkout_update_path, html: {id: :checkout}) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    Sub-total: <%= @order.sub_total %><br>
    <% if @order.discount_code_valid? %>
      Discount code valid: <%= @order.discount_code %><br>
      <% if @order.get_discount.multiplier %>
        Percent discount: <%= @order.get_discount.percentage %>%<br>
      <% end %>
      <% if @order.get_discount.deduction && @order.get_discount.deduction > 0 %>
        Deduction: -<%= @order.get_discount.deduction %><br>
      <% end %>
      Sub-total after discount: <%= @order.sub_total_after_discount %>
    <% elsif @order.discount_code && @order.discount_code != "" %>
      Discount code not found: <%= @order.discount_code %>
    <% elsif @order.discount_code == "" %>
      No discount code
    <% else %>
      Invalid discount code
    <% end %>
  </p>
  
  Shipping: <%= @order.shipping_method.price %><br>
  Total: <%= @order.total %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>