<%= form_for(@order, remote: true, :html => { :role => "form" }) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
        <%= f.hidden_field(:cart_id, :value => @cart.id) %>
  </div>

  <ul class="nav nav-tabs" id="checkout_nav_tabs">
    <li class="active"><a href="#checkout_step_1" data-toggle="tab">Billing Info</a></li>
    <li><a href="#checkout_step_2" data-toggle="tab">Shipping Info</a></li>
    <li><a href="#checkout_step_3" data-toggle="tab">Shipping Options</a></li>
    <li><a href="#checkout_step_4" data-toggle="tab">Payment Options</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="checkout_step_1">
      <div class="field">
        <%= f.label :first_name_billing %><br>
        <%= f.text_field :first_name_billing %>
      </div>
      <div class="field">
        <%= f.label :last_name_billing %><br>
        <%= f.text_field :last_name_billing %>
      </div>
      <div class="field">
        <%= f.label :company_billing %><br>
        <%= f.text_field :company_billing %>
      </div>
      <div class="field">
        <%= f.label :address_line_one_billing %><br>
        <%= f.text_field :address_line_one_billing %>
      </div>
      <div class="field">
        <%= f.label :address_line_two_billing %><br>
        <%= f.text_field :address_line_two_billing %>
      </div>
      <div class="field">
        <%= f.label :city_billing %><br>
        <%= f.text_field :city_billing %>
      </div>
      <div class="field">
        <%= f.label :country_billing %><br>
        <%= f.text_field :country_billing %>
      </div>
      <div class="field">
        <%= f.label :state_billing %><br>
        <%= f.text_field :state_billing %>
      </div>
      <div class="field">
        <%= f.label :zip_billing %><br>
        <%= f.number_field :zip_billing %>
      </div>
      <div class="field">
        <%= f.label :phone_billing %><br>
        <%= f.text_field :phone_billing %>
      </div>
      <a class="btn btn-primary checkOut_btnNext" >Next</a>
    </div>
    <div class="tab-pane" id="checkout_step_2">
      <div class="field">
        <%= f.label :first_name_shipping %><br>
        <%= f.text_field :first_name_shipping %>
      </div>
      <div class="field">
        <%= f.label :last_name_shipping %><br>
        <%= f.text_field :last_name_shipping %>
      </div>
      <div class="field">
        <%= f.label :company_shipping %><br>
        <%= f.text_field :company_shipping %>
      </div>
      <div class="field">
        <%= f.label :address_line_one_shipping %><br>
        <%= f.text_field :address_line_one_shipping %>
      </div>
      <div class="field">
        <%= f.label :address_line_two_shipping %><br>
        <%= f.text_field :address_line_two_shipping %>
      </div>
      <div class="field">
        <%= f.label :city_shipping %><br>
        <%= f.text_field :city_shipping %>
      </div>
      <div class="field">
        <%= f.label :country_shipping %><br>
        <%= f.text_field :country_shipping %>
      </div>
      <div class="field">
        <%= f.label :state_shipping %><br>
        <%= f.text_field :state_shipping %>
      </div>
      <div class="field">
        <%= f.label :zip_shipping %><br>
        <%= f.number_field :zip_shipping %>
      </div>
      <div class="field">
        <%= f.label :phone_shipping %><br>
        <%= f.text_field :phone_shipping %>
      </div>
      <div class="actions">
        <%= f.submit 'Next', class:"btn btn-primary" %>
      </div>
      <a class="btn btn-primary checkOut_btnPrevious" >Previous</a>
    </div>
    <div class="tab-pane" id="checkout_step_3">
      <a class="btn btn-primary checkOut_btnNext" >Next</a>
      <a class="btn btn-primary checkOut_btnPrevious" >Previous</a>
    </div>
    <div class="tab-pane" id="checkout_step_4">
      <a class="btn btn-primary btnPrevious" >Previous</a>
    </div>
  </div>
<% end %>