<%= form_for(:order, url: order_ship_info_update_path, html: {id: :ship_info}) do |f| %>
  <div class="row">
    <div class="col-xs-12">
      <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
          <ul>
          <% @order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>  
    <div class="col-sm-4">
        <div class="form-group">
        <label>First Name</label>
        <%= f.text_field :first_name_shipping, :class => "form-control" %>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <%= f.text_field :last_name_shipping, :class => "form-control" %>
      </div>
      <div class="form-group">
        <label>Company</label>
        <%= f.text_field :company_shipping, :class => "form-control" %>
      </div>
      <div class="form-group">
        <label>Address Line One</label>
        <%= f.text_field :address_line_one_shipping, :class => "form-control" %>
      </div>
      <div class="form-group">
        <label>Address Line Two (optional)</label>
        <%= f.text_field :address_line_two_shipping, :class => "form-control" %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>City</label>
        <%= f.text_field :city_shipping, :class => "form-control" %>
      </div>
      <div class="form-group">
        <label>Country</label>
        <%= f.text_field :country_shipping, :class => "form-control" %>
      </div>
      <div class="form-group">
        <label>State</label>
        <%= f.text_field :state_shipping, :class => "form-control" %>
      </div>
      <div class="form-group">
        <label>Zip Code</label>
        <%= f.number_field :zip_shipping, :class => "form-control" %>
      </div>
      <div class="form-group">
        <label>Phone Number (optional)</label>
        <%= f.text_field :phone_shipping, :class => "form-control" %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="actions">
        <%= f.submit "Submit Shipping Info", :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>