<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<table>
  <thead>
    <tr>
      <th>First name billing</th>
      <th>Last name billing</th>
      <th>Company billing</th>
      <th>Address line one billing</th>
      <th>Address line two billing</th>
      <th>City billing</th>
      <th>Country billing</th>
      <th>State billing</th>
      <th>Zip billing</th>
      <th>Phone billing</th>
      <th>First name shipping</th>
      <th>Last name shipping</th>
      <th>Company shipping</th>
      <th>Address line one shipping</th>
      <th>Address line two shipping</th>
      <th>City shipping</th>
      <th>Country shipping</th>
      <th>State shipping</th>
      <th>Zip shipping</th>
      <th>Phone shipping</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.first_name_billing %></td>
        <td><%= order.last_name_billing %></td>
        <td><%= order.company_billing %></td>
        <td><%= order.address_line_one_billing %></td>
        <td><%= order.address_line_two_billing %></td>
        <td><%= order.city_billing %></td>
        <td><%= order.country_billing %></td>
        <td><%= order.state_billing %></td>
        <td><%= order.zip_billing %></td>
        <td><%= order.phone_billing %></td>
        <td><%= order.first_name_shipping %></td>
        <td><%= order.last_name_shipping %></td>
        <td><%= order.company_shipping %></td>
        <td><%= order.address_line_one_shipping %></td>
        <td><%= order.address_line_two_shipping %></td>
        <td><%= order.city_shipping %></td>
        <td><%= order.country_shipping %></td>
        <td><%= order.state_shipping %></td>
        <td><%= order.zip_shipping %></td>
        <td><%= order.phone_shipping %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
