<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <% if @allowed %>
        <p>
          <%= link_to "Cancel Order", order_cancel_path(@order) %>
        </p>
        <p>
          <strong>Cart ID:</strong>
          <%= @order.cart_id %>
        </p>
        <p>
          <strong>Order Total:</strong>
          <%= @order.total %>
        </p>
        <p>
          <strong>First name billing:</strong>
          <%= @order.first_name_billing %>
        </p>

        <p>
          <strong>Last name billing:</strong>
          <%= @order.last_name_billing %>
        </p>

        <p>
          <strong>Company billing:</strong>
          <%= @order.company_billing %>
        </p>

        <p>
          <strong>Address line one billing:</strong>
          <%= @order.address_line_one_billing %>
        </p>

        <p>
          <strong>Address line two billing:</strong>
          <%= @order.address_line_two_billing %>
        </p>

        <p>
          <strong>City billing:</strong>
          <%= @order.city_billing %>
        </p>

        <p>
          <strong>Country billing:</strong>
          <%= @order.country_billing %>
        </p>

        <p>
          <strong>State billing:</strong>
          <%= @order.state_billing %>
        </p>

        <p>
          <strong>Zip billing:</strong>
          <%= @order.zip_billing %>
        </p>

        <p>
          <strong>Phone billing:</strong>
          <%= @order.phone_billing %>
        </p>

        <p>
          <strong>First name shipping:</strong>
          <%= @order.first_name_shipping %>
        </p>

        <p>
          <strong>Last name shipping:</strong>
          <%= @order.last_name_shipping %>
        </p>

        <p>
          <strong>Company shipping:</strong>
          <%= @order.company_shipping %>
        </p>

        <p>
          <strong>Address line one shipping:</strong>
          <%= @order.address_line_one_shipping %>
        </p>

        <p>
          <strong>Address line two shipping:</strong>
          <%= @order.address_line_two_shipping %>
        </p>

        <p>
          <strong>City shipping:</strong>
          <%= @order.city_shipping %>
        </p>

        <p>
          <strong>Country shipping:</strong>
          <%= @order.country_shipping %>
        </p>

        <p>
          <strong>State shipping:</strong>
          <%= @order.state_shipping %>
        </p>

        <p>
          <strong>Zip shipping:</strong>
          <%= @order.zip_shipping %>
        </p>

        <p>
          <strong>Phone shipping:</strong>
          <%= @order.phone_shipping %>
        </p>
      <% else %>
        This order was made by a different email address.
      <% end %>
    </div>
  </div>
</div>
