<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Order #<%= @order.id %></h1>
      <% if @allowed %>
        <div class="row">
          <div class="col-sm-5">
            <% if @order[:order_status] == Order.order_statuses[:checkout_completed] %>
            <p>
              <%= link_to "Cancel Order", order_cancel_path(@order) %>
            </p>
            <% end %>
            <p>
              Sub-total: <%= number_to_currency(@order.sub_total, :unit => "$") %><br>
              <% if @order.discount_code_valid? %>
                Discount code used: <%= @order.discount_code %><br>
                <% if @order.get_discount.multiplier %>
                  Percent discount: <%= @order.get_discount.percentage %>%<br>
                <% end %>
                <% if @order.get_discount.deduction && @order.get_discount.deduction > 0 %>
                  Deduction: -<%= number_to_currency(@order.get_discount.deduction, :unit => "$") %><br>
                <% end %>
                Sub-total after discount: <%= number_to_currency(@order.sub_total_after_discount, :unit => "$") %><br>
              <% end %>
              Shipping: <%= @order.persisted_shipping_service_name %> - <%= @order.persisted_shipping_method_name %> - <%= number_to_currency(@order.persisted_shipping_method_price, :unit => "$") %><br>
              Order Total: <%= number_to_currency(@order.total, :unit => "$") %>
            </p>
          </div>
          <div class="col-sm-7">
            <p>
              <%= @order.first_name_shipping %> <%= @order.last_name_shipping %><br>
              <% if @order.company_shipping %>
                <%= @order.company_shipping %><br>
              <% end %>
              <%= @order.address_line_one_shipping %><br>
              <% if @order.address_line_two_shipping %>
                <%= @order.address_line_two_shipping %><br>
              <% end %>
              <%= @order.city_shipping %>, <%= @order.state_shipping %> <%= @order.zip_shipping %> <%= @order.country_shipping %>
            </p>
            <% if @order.phone_shipping %>
              <p>
                <strong>Phone number:</strong>
                <%= @order.phone_shipping %>
              </p>
            <% end %>
          </div>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <td class="field-label">
                <label>Line Item</label>
              </td>
              <td class="field-label">
                <label>Price</label>
              </td>
              <td class="field-label">
                <label>Quantity</label>
              </td>
            </tr>
          </thead>
          <tbody>
            <% @cart.line_items.each do |line_item| %>
              <tr>
                  <td>
                    <%= line_item.listing.product.name %><br>
                    <%= line_item.listing.name %>
                  </td>
                  <td>
                    <%= number_to_currency(line_item.persisted_price, :unit => "$") %>
                  </td>
                  <td>
                    <%= line_item.quantity %>
                  </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
      <% else %>
        This order was made by a different email address.
      <% end %>
      <p>For any questions regarding your order, please contact sales @ absolvegaming.com</p>
    </div>
  </div>
</div>
