<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Catalogs</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" style="padding-bottom:15px">
      <%= link_to 'New Catalog', new_dashboard_catalog_path, class:"btn btn-default" %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Catalog Name</th>
            <th>Library Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @catalogs.each do |catalog| %>
            <tr>
              <td><%= catalog.name %></td>
              <td><%= catalog.library_name %></td>
              <td><%= link_to 'Show', dashboard_catalog_path(catalog) %> | 
              <%= link_to 'Edit', edit_dashboard_catalog_path(catalog) %> | 
              <%= link_to 'Destroy', dashboard_catalog_path(catalog), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>