<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <% @games.each do |game| %>
        <div class="row">
          <div class="col-xs-12">
            <div class="thumbnail game">
              <div class="row">
                <div class="col-xs-12 col-sm-3">
                  <a href="<%= game_path(game) %>">
                    <% if game.default_image.url %>
                      <%= image_tag game.default_image.url %>
                    <% else %>
                      No picture available
                    <% end %>
                  </a>
                </div>
                <div class="col-xs-12 col-sm-9">
                  <div class="caption game">
                    <h2><%= game.name %></h2>
                    <% if game.description %>
                      <p><%= game.description %></p>
                    <% end %>
                    <%= link_to "View Game", game, :class => "btn btn-default category_link" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>