<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Listing Games</h1>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th>Description</th>
            <th>Permalink</th>
            <th>Default picture</th>
          </tr>
        </thead>

        <tbody>
          <% @games.each do |game| %>
            <tr>
              <td><%= link_to game.name, game %></td>
              <td><%= game.created_at %></td>
              <td><%= game.updated_at %></td>
              <td><%= game.description %></td>
              <td><%= game.permalink %></td>
              <td><%= game.default_picture %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>