<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>
        <strong>Name:</strong>
        <%= @game.name %>
      </p>

      <p>
        <strong>Created at:</strong>
        <%= @game.created_at %>
      </p>

      <p>
        <strong>Updated at:</strong>
        <%= @game.updated_at %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @game.description %>
      </p>

      <p>
        <strong>Permalink:</strong>
        <%= @game.permalink %>
      </p>

      <p>
        <strong>Default picture:</strong>
        <%= @game.default_picture %>
      </p>

      <%= link_to 'Back', games_path %>
    </div>
  </div>
</div>