<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>
        <strong>Name:</strong>
        <%= @game.name %>
      </p>

      <p>
        <strong>Created at:</strong>
        <%= @game.created_at %>
      </p>

      <p>
        <strong>Updated at:</strong>
        <%= @game.updated_at %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @game.description %>
      </p>

      <p>
        <strong>Permalink:</strong>
        <%= @game.permalink %>
      </p>

      <p>
        <% if @game.default_picture.url %>
          <strong>Picture:</strong><br>
          <%= image_tag @game.default_picture.url %>
        <% end %>
      </p>
      <% if @game.categories.length > 0 %>
        <h2>Categories</h2>
        <% @game.categories.each do |category| %>
          <p><%= link_to category.name, category %></p>
        <% end %>
      <% end %>

      <%= link_to 'Back', games_path %>
    </div>
  </div>
</div>