<div class="container">
  <div class="row">
    <div class="col-xs-5">
      <h1>Your Cart</h1>
    </div>
  </div>
   <table class="table-bordered" style="margin-bottom:5px">
    <thead>
      <tr>
        <td class="field-label col-xs-1"><label>Item Name</label></td>
        <td class="field-label col-xs-1"><label>Quantity</label></td>
        <td class="field-label col-xs-1"><label>Price</label></td>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td class="col-xs-1"></td>
        <td class="field-label col-xs-1"><label>Total Quantity</label></td>
        <td class="field-label col-xs-1"><label>Total Price</label></td>
      </tr>
      <tr id="cart_table_footer">
        <td class="col-xs-1"></td>
        <td class="col-xs-1"><%= @total_items %></td>
        <td class="col-xs-1"><%= @total_price %></td>
      </tr>
    </tfoot>
    <tbody id="cart_table_body">
      <% @line_items.each do |line_item| %>
        <tr>
            <td class="col-xs-1"> <%= line_item["listing_name"] + ' - ' + line_item["product_name"] %></td>
            <td class="col-xs-1"> <%= line_item["quantity"] %></td>
            <td class="col-xs-1"> <%= line_item["price"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Edit', edit_cart_path(@cart), class:"btn btn-default" %>
  <%= link_to 'Back', carts_path, class:"btn btn-default" %>
</div>