<%= form_for(@product, url: @form_path) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.number_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :permalink %><br>
    <%= f.text_field :permalink %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :short_description %><br>
    <%= f.text_field :short_description %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :created %><br>
    <%= f.datetime_select :created %>
  </div>
  <div class="field">
    <%= f.label :update_id %><br>
    <%= f.number_field :update_id %>
  </div>
   <div class="field">
    <%= f.label :default_picture %><br>
    <%= f.file_field :default_picture %>
  </div>
  <% existing_default = @product.default_picture.url %>
  <%= image_tag existing_default if existing_default %>
  <br>
  
  Listings:
  <ul>
    <%= f.fields_for :listings do |listings_f| %>
      <li>
        <%= listings_f.object.name %><br>
        Qty: <%= listings_f.number_field :quantity %><br>
        Price: <%= listings_f.text_field :price %><br>
        Active: <%= listings_f.check_box :active %>
      </li>
    <% end %>
  </ul>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
