<div class="row header">
  <%= form_for(@game, url: @form_path) do |f| %>
    <div class="col-sm-6">
      <% if @game.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

          <ul>
          <% @game.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
  
      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :permalink %><br>
        <%= f.text_field :permalink, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :description %><br>
        <%= f.text_area :description, :style => "resize: none;", :class => "form-control" %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <h3>Image</h3>
        <%= f.label :default_image %><br>
        <% if @game.default_image.url %>
          <%= image_tag @game.default_image.url, :style => "width: 100%;" %>
        <% else %>
          No picture available
        <% end %>
        <%= f.file_field :default_image, :class => "form-control" %>
      </div>
    </div>
  <% end %>
</div>