<div class="container">
  <div class="row" style="padding-bottom:15px">
    <div class="col-xs-12">
      <%= render 'dashboard/shared/product_links' %>
      <h1>Games</h1>

      <%= link_to 'New Game', new_dashboard_game_path, class: "btn btn-default" %>
    </div>
  </div>
  <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Permalink</th>
          <th>Created</th>
          <th>Updated</th>
        </tr>
      </thead>

      <tbody>
        <% @games.each do |game| %>
          <tr>
            <td><%= game.id %></td>
            <td><%= link_to game.name, edit_dashboard_game_path(game) %></td>
            <td><%= game.permalink %></td>
            <td><%= game.created_at %></td>
            <td><%= game.updated_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>