<p id="notice"><%= notice %></p>

<h1>Listing Shipping Services</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shipping_services.each do |shipping_service| %>
      <tr>
        <td><%= shipping_service.name %></td>
        <td><%= shipping_service.active %></td>
        <td><%= shipping_service.created_at %></td>
        <td><%= shipping_service.updated_at %></td>
        <td><%= link_to 'Show', shipping_service %></td>
        <td><%= link_to 'Edit', edit_shipping_service_path(shipping_service) %></td>
        <td><%= link_to 'Destroy', shipping_service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shipping service', new_shipping_service_path %>
