<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shipping_service.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @shipping_service.active %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @shipping_service.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @shipping_service.updated_at %>
</p>

<%= link_to 'Edit', edit_shipping_service_path(@shipping_service) %> |
<%= link_to 'Back', shipping_services_path %>
