<div class="container">
  <div class="row">
    <div class="col-xs-5">
      <h1>Categories</h1>
    </div>
  </div>
  <table class="table table-bordered">
    <tr>
      <td class="field-label col-xs-1">
        <label>Category ID</label>
      </td>
      <td class="field-label col-xs-1">
        <label>Name</label>
      </td>
      <td class="field-label col-xs-1">
        <label>Description</label>
      </td>
      <td class="field-label col-xs-1">
        <label>Permalink</label>
      </td>
      <td class="field-label col-xs-1">
        <label>Created</label>
      </td>
      <td class="field-label col-xs-1">
        <label>Update</label>
      </td>
    </tr>
        
    <% @categories.each do |category| %>
      <tr>
        <td class="col-xs-1">
          <%= category.category_id or "#" %>
        </td>
        <td class="col-xs-1">
          <%= link_to category.name, category %>
        </td>
        <td class="col-xs-1">
          <%= category.description or "N/A" %>
        </td>
        <td class="col-xs-1">
          <%= category.permalink or "N/A" %>
        </td>
        <td class="col-xs-1">
          <%= category.created or "N/A" %>
        </td>
        <td class="col-xs-1">
          <%= category.update_id or "N/A" %>
        </td>
      </tr>
    <% end %>
    </table>
</div>