<div class="container">
  <div class="row">
    <div class="col-xs-5">
      <h1>Listing Categories</h1>
    </div>
  </div>
  <div class="row" style="padding-bottom:15px">
    <div class="col-xs-1">
      <button type="button" class="btn btn-default"><%= link_to 'New Category', new_category_path %></button>
    </div>
  </div>
  <table class="table table-bordered">
    <tr>
      <td class="field-label col-xs-1">
        <label>Category ID</label>
      </td>
      <td class="field-label col-xs-1">
        <label>Name</label>
      </td>
      <td class="field-label col-xs-1">
        <label>Description</label>
      </td>
      <td class="field-label col-xs-1">
        <label>Permalink</label>
      </td>
      <td class="field-label col-xs-1">
        <label>Created</label>
      </td>
      <td class="field-label col-xs-1">
        <label>Update</label>
      </td>
    </tr>
        
    <% @categories.each do |category| %>
      <tr>
        <td class="col-xs-1"><%= category.category_id or "#" %></td>
        <td class="col-xs-1">
          <div class="btn-group">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= category.name %><span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to 'Show', category %></li>
              <li><%= link_to 'Edit', edit_category_path(category) %></li>
              <li><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            </ul>
          </div>
        </td>
      
        <td class="col-xs-1"><%= category.description or "N/A" %></td>
      
      
        <td class="col-xs-1"><%= category.permalink or "N/A" %></td>
      
  
        <td class="col-xs-1"><%= category.created or "N/A" %></td>
      
      
        <td class="col-xs-1"><%= category.update_id or "N/A" %></td>
      </tr>
    <% end %>
    
    </table>
    
</div>