<div class="container">  
  <div class="row">
      <div class="col-xs-5">
          <h1>Category</h1>
          <p>
            <strong>Name:</strong>
            <%= @category.name %>
          </p>
          
          <p>
            <strong>Game:</strong>
            <%= @category.game_id %>
            <% if @game %>
              <p>Parent Category: <%= link_to @game.name, @game %></p>
            <% end %>
          
          </p>
          
          <p>
            <strong>Description:</strong>
            <%= @category.description %>
          </p>
          
          <p>
            <strong>Permalink:</strong>
            <%= @category.permalink %>
          </p>
          
          <p>
            <strong>Created:</strong>
            <%= @category.created %>
          </p>
          
          <p>
            <strong>Update:</strong>
            <%= @category.update_id %>
          </p>
          
          <p>
            <% existing_default = @category.default_picture.url %>
            <% if existing_default %>
              <strong>Picture:</strong><br>
              <%= image_tag existing_default %>
            <% end %>
          </p>
          <% if @products.length > 0 %>
            <h2>Products</h2>
            <% @products.each do |product| %>
              <p><%= link_to product.name, product %></p>
            <% end %>
          <% end %>
          
          <%= link_to 'Back', categories_path, class:"btn btn-default" %>
      </div>
  </div>
</div>