<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category_id %>
  <% if @parent_category %>
  <p>Parent Category: <%= link_to @parent_category.name, @parent_category %></p>
  <% end %>
</p>

<p>
  <strong>Permalink:</strong>
  <%= @product.permalink %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @product.short_description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @product.active %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @product.weight %>
</p>

<p>
  <strong>Created:</strong>
  <%= @product.created %>
</p>

<p>
  <strong>Update:</strong>
  <%= @product.update_id %>
</p>

<% if @listings.length > 0 %>
<h2>Listings</h2>
<% @listings.each do |listing| %>
<p><%= listing.name %>: $<%= listing.price %></p>
<% end %>
<% end %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
