<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <title>Crystal Caravan</title>
  
    <%= stylesheet_link_tag 'application', params[:controller], media: 'all' %>
  
    <%= javascript_include_tag 'application', params[:controller] %>
    
    <%= csrf_meta_tags %>
    
    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
        
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    
  </head>
  <body>

    <div id="wrapper">
      <nav class="navbar navbar-default navbar">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Crystal Caravan</a>
        </div>
        <div class="container">
        <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <!-- Let's make this generation automatic in the future -->
              <li class=<%="active" if params[:controller] == 'static_pages' && params[:action] == 'home' %>><a href="/">Home</a></li>
              <li class=<%="active" if params[:controller] == 'games' %>><a href="/games">Games</a></li>
              <li class=<%="active" if params[:controller] == 'categories' %>><a href="/categories">Categories</a></li>
              <li class=<%="active" if params[:controller] == 'products' %>><a href="/products">Products</a></li>
              <li class=<%="active" if params[:controller] == 'listings' %>><a href="/listings">Listings</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class=<%="active" if params[:controller] == 'carts' && params[:action] == 'cart' %>><%= link_to "Show Cart", show_cart_path %></li>
              <% if user_signed_in? %>
                <li class="navbar-text">
                  Logged in as: <%= link_to(current_user.email, my_account_path, style: "padding:0px; display:inline;") %>
                </li>
              <% end %>
              <li>
                <% if user_signed_in? %>
                  <%= link_to('Log Out', destroy_user_session_path, :method => :delete) %>  
                <% else %>
                  <%= link_to('Log In', new_user_session_path) %>
                <% end %>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <div id="content">
        <div class="container">
          <div class="row">
            <% if flash[:notice] %>
              <div class="alert alert-info alert-dismissable" role="alert">
                <%= flash[:notice] %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
            <% end %>
            <% if flash[:alert] %>
              <div class="alert alert-danger alert-dismissable" role="alert">
                <%= flash[:alert] %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
            <% end %>
          </div>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>