<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Panel Gang</title>
    
    <%= stylesheet_link_tag 'dashboard', params[:controller], media: 'all' %>
  
    <%= javascript_include_tag 'dashboard', params[:controller] %>
    
    <%= csrf_meta_tags %>
    
  </head>
  <body>
    
    <div id="cart_modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content" id="dashboard">
        </div>
      </div>
    </div>
    
    <div id="wrapper">
      <nav class="navbar navbar-inverse navbar">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Crystal Caravan</a>
        </div>
        <div class="container">
        <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class=<%="active" if params[:controller] == 'panel' %>>
                <%= link_to 'Dashboard', controller: 'panel', action: 'index' %>
              </li>
              <li class=<%="active" if params[:controller] == 'dashboard/games' %>>
                <%= link_to 'Games', dashboard_games_path %>
              </li>
              <li class=<%="active" if params[:controller] == 'dashboard/categories' %>>
                <%= link_to 'Categories', dashboard_categories_path %>
              </li>
              <li class=<%="active" if params[:controller] == 'dashboard/catalogs' %>>
                <%= link_to 'Catalogs', dashboard_catalogs_path %>
              </li>
              <li class=<%="active" if params[:controller] == 'dashboard/products' %>>
                <%= link_to 'Products', dashboard_products_path %>
              </li>
              <li class=<%="active" if params[:controller] == 'dashboard/shipping_services' %>>
                <%= link_to 'Shipping', dashboard_shipping_services_path %>
              </li>
              <li class=<%="active" if params[:controller] == 'dashboard/orders' %>>
                <%= link_to 'Orders', dashboard_orders_path %>
              </li>
              <li class=<%="active" if params[:controller] == 'dashboard/discount_codes' %>>
                <%= link_to 'Discounts', dashboard_discount_codes_path %>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="navbar-text">
                Signed in as: <%= current_admin.email %>
              </li>
              <li>
                <%= link_to('Log Out', destroy_admin_session_path, :method => :delete) %>    
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
      </nav>
      
      <div id="content">
        <div class="container">
          <div class="row">
            <% if flash[:notice] %>
              <div class="alert alert-info alert-dismissable" role="alert">
                <%= flash[:notice] %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
            <% end %>
            <% if flash[:alert] %>
              <div class="alert alert-danger alert-dismissable" role="alert">
                <%= flash[:alert] %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
            <% end %>
          </div>
        </div>
        <%= yield %>
      </div>
    </div>
    
  </body>
</html>